{{ define "main" }}
<article class="page" itemscope itemtype="http://schema.org/CreativeWork">
  {{ with .Title }}<meta itemprop="headline" content="{{ . | markdownify }}">{{end}}
  {{/*% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
  {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
  {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %*/}}

  <div class="page__inner-wrap">
      <header>
        {{ with .Title }}<h1 class="page__title" itemprop="headline">Publications</h1>{{end}}
      </header>
      {{with .Site.Params.Author.Arxiv}}
        <a href="{{ . }}" style="text-decoration:none"><i class="ai ai-arxiv ai-fw"></i>arXiv</a>
      {{end}}
      {{with .Site.Params.Author.Google_scholar}}
        <a href="{{ . }}" style="text-decoration:none"><i class="ai ai-google-scholar"></i>Google Scholar</a>
      {{end}}
      {{with .Site.Params.Author.Semantic}}
        <a href="{{ . }}" style="text-decoration:none"><i class="ai ai-semantic-scholar ai-fw"></i>Semantic Scholar</a>
      {{end}}
      {{with .Site.Params.Author.Impactstory}}
        <a href="{{ . }}" style="text-decoration:none"><i class="ai ai-impactstory ai-fw"></i>Impactstory</a>
      {{end}}
      {{with .Site.Params.Author.Orcid}}
        <a href="{{ . }}" style="text-decoration:none"><i class="ai ai-orcid ai-fw"></i>ORCID</a>
      {{end}}
      {{with .Site.Params.Author.Pubmed}}
        <a href="{{ . }}" style="text-decoration:none"><i class="ai ai-pubmed ai-fw"></i>PubMed</a>
      {{end}}
      {{with .Site.Params.Author.ResearchGate}}
        <a href="{{ . }}" style="text-decoration:none"><i class="fab fa-fw fa-researchgate" aria-hidden="true" ></i>ResearchGate</a>
      {{end}}
      {{with .Site.Params.Author.Scopus}}
        <a href="{{ . }}" style="text-decoration:none"><i class="ai ai-scopus" ></i>Scopus</a>
      {{end}}
    <hr />
    <section class="page__content" itemprop="text">
      {{ if .Params.journals }}
      <h2>Journals</h2>
      {{ range .Params.journals }}
          {{ with . }}
             {{ $len := (len .author ) }}
             {{ range $index, $elemet := .author }}
              {{ $author := (print $elemet ",") }}
              {{ if and (eq $index  (sub $len 2)) (ne $len 1)}}
              {{ $author = (print $elemet " and")}}
              {{end}}
              {{ $author | markdownify}}
             {{end}}
             "<a href="{{with .link }}{{.}} {{else}} # {{end}}">{{ .title | markdownify}}"</a>, {{ .journal }}, {{with .volume}}Vol.{{ . }},{{end}} {{with .issue}} Issue.{{.}}, {{end}} {{with .pages}}pp.{{.}},{{end}} {{with .year}}{{.}}{{end}}
             <br />
          {{end}}
      {{ end }}
      {{end}}
      {{ if .Params.conferences }}
      <h2>Conferences</h2>
      {{ range .Params.conferences }}
        {{ with . }}
           {{ $len := (len .author ) }}
           {{ range $index, $elemet := .author }}
            {{ $author := (print $elemet ",") }}
            {{ if and (eq $index  (sub $len 2)) (ne $len 1)}}
            {{ $author = (print $elemet " and")}}
            {{end}}
            {{ $author | markdownify}}
           {{end}}
           "<a href="{{with .link }}{{.}} {{else}} # {{end}}">{{ .title | markdownify}}"</a>, {{ .conference }}, {{with .location}}{{.}},{{end}} {{with .pages}}pp.{{.}},{{end}} {{with .year}}{{.}}{{end}}
           <br />
        {{end}}
      {{ end }}
    {{end}}
    {{ if .Params.domesticjournals }}
    <h2>Domestic Journals</h2>
    {{ range .Params.domesticjournals }}
      {{ with . }}
         {{ $len := (len .author ) }}
         {{ range $index, $elemet := .author }}
          {{ $author := (print $elemet ",") }}
          {{ if and (eq $index  (sub $len 2)) (ne $len 1)}}
          {{ $author = (print $elemet " and")}}
          {{end}}
          {{ $author | markdownify}}
         {{end}}
         "<a href="{{with .link }}{{.}} {{else}} # {{end}}">{{ .title | markdownify}}"</a>, {{ .journal }}, {{with .volume}}Vol.{{ . }},{{end}} {{with .issue}} Issue.{{.}}, {{end}} {{with .pages}}pp.{{.}},{{end}} {{with .year}}{{.}}{{end}}
         <br />
      {{end}}
    {{ end }}
  {{end}}
  {{ if .Params.domesticconferences }}
  <h2>Domestic Conferences</h2>
  {{ range .Params.domesticconferences }}
    {{ with . }}
       {{ $len := (len .author ) }}
       {{ range $index, $elemet := .author }}
        {{ $author := (print $elemet ",") }}
        {{ if and (eq $index  (sub $len 2)) (ne $len 1)}}
        {{ $author = (print $elemet " and")}}
        {{end}}
        {{ $author | markdownify}}
       {{end}}
       "<a href="{{with .link }}{{.}} {{else}} # {{end}}">{{ .title | markdownify}}"</a>, {{ .conference }}, {{with .location}}{{.}},{{end}} {{with .pages}}pp.{{.}},{{end}} {{with .year}}{{.}}{{end}}
       <br />
    {{end}}
  {{ end }}
{{end}}
    </section>
    <footer class="page__meta">
      {{ partial "footer.html" .}}
    </footer>
  </div>
</article>
{{ end }}
