<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" .}}
</head>
<body>
  <div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ .Site.BaseURL}}">{{ .Site.Title }}</a></li>
          {{ range site.Menus.main }}
          <li class="masthead__menu-item"><a href="{{ .URL }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
{{partial "breadcrumbs.html" . }}
<div id="main" role="main">
  {{ partial "sidebar.html" . }}
  {{ block "main" . }}{{ end }}
</div>
{{ if .Param "math" }}
  {{ partialCached "math.html" . }}
{{ end }}
{{ partial "js.html" .}}
</body>
</html>
